/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLE */
:root {
    /* COLOR */
    --HEADER-BGCOLOR:  rgba(255, 248, 220, 0.295);
    --HEADER-COLOR: #333;
    --SECTION-1BGCOLOR: rgba(50, 205, 50, 0.58);

    --BORDER-RADIUS: 8px;

    /* FONT */
    --FONT-SIZE: clamp(0.875rem, 1vw+0.5rem, 1rem);
    --FONT-SIZE2: clamp(0.76rem, 0.8vw+0.6rem, 1rem);
}

/* GENERAL STYLE */

html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 70rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem;
    
}

nav ul, a {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    color: var(--HEADER-COLOR);
    gap: 2rem;
}

.section1 {
    text-align: center;
    background-color: rgba(232, 245, 233, 0.897);
    padding: 4rem;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.2);
}

.section1p {
    padding-top: 1rem;
}

.section1-pp {
    background-color: VAR(--SECTION-1BGCOLOR);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    border-radius: var(--BORDER-RADIUS);
    justify-content: center;
    align-items: center;
}

.section2 { 
    background-color: var(--HEADER-BGCOLOR);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.font {
    font-size: var(--FONT-SIZE2);
    margin-bottom: 0.3rem;
}
.fontp {
    font-size: var(--FONT-SIZE2);
}

.divdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: var(--FONT-SIZE);
    gap: 0.8rem;
}

.image {
    background-color: rgba(232, 245, 233, 0.5);
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 50%;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

.again {
    border-radius: 40%;
}

.div3 {
    text-align: center;
    padding: 1rem;
    font-size: var(--FONT-SIZE);
}

.div4 {
    padding: 1rem;
    font-size: var(--FONT-SIZE);
}

.last {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.now {
    border-radius: 7px;
    padding: 0.5rem 3rem;
    border: 1px solid rgba(51, 51, 51, 0.226);
}

.now::placeholder {
    text-align: left;
}

.button {
    background-color: var(--SECTION-1BGCOLOR);
    margin-top: 0.2rem;
    padding: 0.5rem 2rem;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    border: none;
}

textarea {
    resize: none;
}

.box {
    width: 70%;
    resize: none;
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    font-weight: 500;
    font-size: var(--FONT-SIZE2);
    z-index: 10;
    background-color: var(--HEADER-BGCOLOR);
}

@media (max-width: 575px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
    nav ul {
        flex-direction: column;
    }
    html {
        font-size: 0.875rem;
    }
    .divdiv {
        flex-direction: column;
    }
    .nav {
        justify-content: flex-start;
    }
    header {
        padding-left: 1rem;
    }
    
}



